﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- project stats -->
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row" id="counterPmhDermaga">

                </div>
            </div>
        </div>
    </div>
</div>
<!--/ project stats -->
<!--/ project charts -->
<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <ul class="list-inline text-xs-center pt-2 m-0">
                    <li class="mr-1">
                        <h6><i class="icon-circle warning"></i> <span class="grey darken-1">Remaining</span></h6>
                    </li>
                    <li class="mr-1">
                        <h6><i class="icon-circle success"></i> <span class="grey darken-1">Completed</span></h6>
                    </li>
                </ul>
                <div class="chartjs height-250">
                    <canvas id="line-stacked-area" height="250"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xs-3 text-xs-center">
                        <span class="text-muted">Total Projects</span>
                        <h2 class="block font-weight-normal">18</h2>
                        <progress class="progress progress-xs mt-2 progress-success" value="70" max="100"></progress>
                    </div>
                    <div class="col-xs-3 text-xs-center">
                        <span class="text-muted">Total Task</span>
                        <h2 class="block font-weight-normal">125</h2>
                        <progress class="progress progress-xs mt-2 progress-success" value="40" max="100"></progress>
                    </div>
                    <div class="col-xs-3 text-xs-center">
                        <span class="text-muted">Completed Task</span>
                        <h2 class="block font-weight-normal">242</h2>
                        <progress class="progress progress-xs mt-2 progress-success" value="60" max="100"></progress>
                    </div>
                    <div class="col-xs-3 text-xs-center">
                        <span class="text-muted">Total Revenue</span>
                        <h2 class="block font-weight-normal">$11,582</h2>
                        <progress class="progress progress-xs mt-2 progress-success" value="90" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ project charts -->
<!-- projects table with monthly chart -->
<div class="row">
    <div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ongoing Projects</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <p class="m-0">Total ongoing projects 6<span class="float-xs-right"><a href="project-summary.html" target="_blank">Project Summary <i class="icon-arrow-right2"></i></a></span></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Owner</th>
                                <th>Priority</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-truncate">ReactJS App</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="robust-assets/images/portrait/small/avatar-s-4.png" alt="avatar"></span> <span>Sarah W.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                <td class="valign-middle"><progress value="88" max="100" class="progress progress-xs progress-success m-0">88%</progress></td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Fitness App</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="robust-assets/images/portrait/small/avatar-s-5.png" alt="avatar"></span> <span>Edward C.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                <td class="valign-middle"><progress value="55" max="100" class="progress progress-xs progress-warning m-0">55%</progress></td>
                            </tr>
                            <tr>
                                <td class="text-truncate">SOU plugin</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="robust-assets/images/portrait/small/avatar-s-6.png" alt="avatar"></span> <span>Carol E.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                <td class="valign-middle"><progress value="25" max="100" class="progress progress-xs progress-danger m-0">25%</progress></td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Android App</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="robust-assets/images/portrait/small/avatar-s-7.png" alt="avatar"></span> <span>Gregory L.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                <td class="valign-middle"><progress value="95" max="100" class="progress progress-xs progress-success m-0">95%</progress></td>
                            </tr>
                            <tr>
                                <td class="text-truncate">ABC Inc. UI/UX</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="robust-assets/images/portrait/small/avatar-s-8.png" alt="avatar"></span> <span>Susan S.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                <td class="valign-middle"><progress value="45" max="100" class="progress progress-xs progress-warning m-0">45%</progress></td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Product UI</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="robust-assets/images/portrait/small/avatar-s-9.png" alt="avatar"></span> <span>Walter K.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                <td class="valign-middle"><progress value="15" max="100" class="progress progress-xs progress-danger m-0">15%</progress></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-body bg-success">
                <div class="card-block sales-growth-chart">
                    <div id="completed-project" class="height-250"></div>
                </div>
            </div>
            <div class="card-footer">
                <div class="chart-title">
                    <span class="text-muted">Total completed project and earning.</span>
                </div>
                <ul class="list-inline text-xs-center clearfix mt-2 mb-0">
                    <li class="border-right-grey border-right-lighten-2 pr-1">
                        <span class="text-muted">Completed Projects</span>
                        <h3 class="block">250</h3>
                    </li>
                    <li class="pl-2">
                        <span class="text-muted">Total Earnings</span>
                        <h3 class="block">64.54 M</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/ projects table with monthly chart -->
<!-- Recent invoice with Statistics -->
<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Recent Invoices</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <p>Total paid invoices 240, unpaid 150. <span class="float-xs-right"><a href="project-summary.html" target="_blank">Invoice Summary <i class="icon-arrow-right2"></i></a></span></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Invoice#</th>
                                <th>Customer Name</th>
                                <th>Status</th>
                                <th>Due</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-truncate"><a href="#">INV-001001</a></td>
                                <td class="text-truncate">Elizabeth W.</td>
                                <td class="text-truncate"><span class="tag tag-default tag-success">Paid</span></td>
                                <td class="text-truncate">10/05/2016</td>
                                <td class="text-truncate">$ 1200.00</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">INV-001012</a></td>
                                <td class="text-truncate">Andrew D.</td>
                                <td class="text-truncate"><span class="tag tag-default tag-success">Paid</span></td>
                                <td class="text-truncate">20/07/2016</td>
                                <td class="text-truncate">$ 152.00</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">INV-001401</a></td>
                                <td class="text-truncate">Megan S.</td>
                                <td class="text-truncate"><span class="tag tag-default tag-success">Paid</span></td>
                                <td class="text-truncate">16/11/2016</td>
                                <td class="text-truncate">$ 1450.00</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">INV-01112</a></td>
                                <td class="text-truncate">Doris R.</td>
                                <td class="text-truncate"><span class="tag tag-default tag-warning">Overdue</span></td>
                                <td class="text-truncate">11/12/2016</td>
                                <td class="text-truncate">$ 5685.00</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">INV-008101</a></td>
                                <td class="text-truncate">Walter R.</td>
                                <td class="text-truncate"><span class="tag tag-default tag-warning">Overdue</span></td>
                                <td class="text-truncate">18/05/2016</td>
                                <td class="text-truncate">$ 685.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Recent invoice with Statistics -->

@section VendorStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/extensions/unslider.css">
}

@section CustomStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/components/weather-icons/climacons.min.css">
    <style type="text/css">
        div.cursor-pointer {
            cursor: pointer !important;
        }
    </style>
}

@section Plugins {
    <script src="~/robust-assets/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/raphael-min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/morris.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/chartist.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/chartist-plugin-tooltip.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/chart.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/moment.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/underscore-min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/unslider-min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script type="text/javascript">
        !function (a, b, c) {
            "use strict";

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            $.ajax({
                url: "Home/CounterAllPmhTambat",
                method :"GET",
                dataType: "json",
                success: function (msg) {
                    if (msg.length > 0) {
                        var nm = 0;
                        $.each(msg, function (e, v) {
                            nm++;
                            var clr = getRandomColor();
                            var apn = "<div class='col-lg-4 col-md-12 col-sm-12'>"+
                                        "<div class='cursor-pointer p-1 text-xs-center' alt='" + v.MDMG_KODE + "'>" +
                                        "    <div>"+
                                        "        <h3 class='font-large-1 grey darken-1 text-bold-400'>"+v.MDMG_NAMA+"</h3>"+
                                        "    </div>"+
                                        "    <div class='card-body overflow-hidden'>"+
                                        "        <div id='morris-views-"+nm+"' class='height-75'></div>"+
                                        "        <ul class='list-inline clearfix mb-0'>"+
                                        "            <li class='border-right-grey border-right-lighten-2 pr-2'>"+
                                        "                <h3 class='danger text-bold-400' style='color:" + clr + "!important'>" + v.COUNTER_TODAY + "</h3>" +
                                        "                <span class='font-small-3 grey darken-1'><i class='icon-chevron-up danger' style='color:" + clr + "!important'></i> Active</span>" +
                                        "            </li>"+
                                        "            <li class='pl-2'>"+
                                        "                <h3 class='danger text-bold-400' style='color:" + clr + "!important'>" + v.COUNTER_YESTERDAY + "</h3>" +
                                        "                <span class='font-small-3 grey darken-1'><i class='icon-chevron-down danger' style='color:" + clr + "!important'></i> Time Out</span>" +
                                        "            </li>"+
                                        "        </ul>"+
                                        "    </div>"+
                                        "</div>"+
                                        "</div>";
                            $("div[id=counterPmhDermaga]").append(apn);
                            Morris.Area({
                                element: "morris-views-" + nm,
                                data: [{ y: "1", a: (Math.floor(Math.random() * (30 - 1)) + 1) }, { y: "5", a: (Math.floor(Math.random() * (30 - 1)) + 1) }, { y: "10", a: (Math.floor(Math.random() * (30 - 1)) + 1) }, { y: "14", a: (Math.floor(Math.random() * (30 - 1)) + 1) }, { y: "15", a: (Math.floor(Math.random() * (30 - 1)) + 1) }],
                                xkey: "y",
                                ykeys: ["a"],
                                labels: ["Views"],
                                axes: !1, grid: !1,
                                behaveLikeLine: !0,
                                ymax: 20, resize: !0,
                                pointSize: 0, smooth: !0,
                                numLines: 6, lineWidth: 2,
                                fillOpacity: .1,
                                lineColors: [clr],
                                hideHover: !0, hoverCallback:
                                    function (a, b, c, d) { return "" }
                            });

                            $('.cursor-pointer').click(function () {
                                window.location.href = '@Url.Action("PmhTambatHrIniByKapal", "Home")?mdmg=' + $(this).attr('alt');
                            });

                        })
                    }
                }
            });

            function d(a, b, c) {
                a.push(Math.floor(Math.random() * (c - b + 1)) + b), a.shift(), j.update()
            }

            function e(a, b, c) {
                a.push(Math.floor(Math.random() * (c - b + 1)) + b), a.shift(), p.update()
            }

            var f = c("#line-stacked-area"), g = { responsive: !0, maintainAspectRatio: !1, pointDotStrokeWidth: 4, legend: { display: !1, labels: { fontColor: "#FFF", boxWidth: 10 }, position: "top" }, hover: { mode: "label" }, scales: { xAxes: [{ display: !1 }], yAxes: [{ display: !0, gridLines: { color: "rgba(255,255,255, 0.3)", drawTicks: !1, drawBorder: !1 }, ticks: { display: !1, min: 0, max: 70, maxTicksLimit: 4 } }] }, title: { display: !1, text: "Chart.js Line Chart - Legend" } },
            h = { labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], datasets: [{ label: "Android", data: [18, 15, 30, 25, 28, 35, 14, 18, 12, 20, 18, 24], backgroundColor: "transparent", borderColor: "#FF6E40", pointColor: "#fff", pointBorderColor: "#FF6E40", pointBackgroundColor: "#fff", pointBorderWidth: 2, pointHoverBorderWidth: 2, pointRadius: 3 }, { label: "iOS", data: [30, 35, 60, 40, 45, 55, 32, 45, 58, 53, 45, 60], backgroundColor: "transparent", borderColor: "#1DE9B6", pointColor: "#fff", pointBorderColor: "#1DE9B6", pointBackgroundColor: "#fff", pointBorderWidth: 2, pointHoverBorderWidth: 2, pointRadius: 3 }] }, i = { type: "line", options: g, data: h }, j = new Chart(f, i); setInterval(function () { d(j.data.datasets[0].data, 5, 25), d(j.data.datasets[1].data, 35, 60) }, 3500);

            var q = !1; "RTL" == c("html").data("textdirection") && (q = !0), c(".knob").knob({ rtl: q, draw: function () { var a = this.$, b = a.attr("style"); b = b.replace("bold", "normal"); var d = parseInt(a.css("font-size"), 10), e = Math.ceil(1.65 * d); b = b + "font-size: " + e + "px;"; var f = a.attr("data-knob-icon"); if (a.hide(), c('<i class="knob-center-icon ' + f + '"></i>').insertAfter(a).attr("style", b), "tron" == this.$.data("skin")) { this.cursorExt = .3; var g, h = this.arc(this.cv), i = 1; return this.g.lineWidth = this.lineWidth, this.o.displayPrevious && (g = this.arc(this.v), this.g.beginPath(), this.g.strokeStyle = this.pColor, this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, g.s, g.e, g.d), this.g.stroke()), this.g.beginPath(), this.g.strokeStyle = i ? this.o.fgColor : this.fgColor, this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, h.s, h.e, h.d), this.g.stroke(), this.g.lineWidth = 2, this.g.beginPath(), this.g.strokeStyle = this.o.fgColor, this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + 2 * this.lineWidth / 3, 0, 2 * Math.PI, !1), this.g.stroke(), !1 } } }), Morris.Bar({ element: "completed-project", data: [{ device: "UI", earning: 1835 }, { device: "Web", earning: 2356 }, { device: "APP", earning: 1459 }, { device: "UX", earning: 1289 }, { device: "SEO", earning: 1647 }], xkey: "device", ykeys: ["earning"], labels: ["Sales"], barGap: 6, barSizeRatio: .3, gridTextColor: "#FFF", gridLineColor: "#FFF", goalLineColors: "#000", numLines: 4, gridtextSize: 14, resize: !0, barColors: ["#FFF"], xLabelAngle: 35, hideHover: "auto" }); var r = moment().format("YYYY-MM"), s = moment().add("month", 1).format("YYYY-MM"),
            t = [{ date: r + "-10", title: "Persian Kitten Auction", location: "Center for Beautiful Cats" }, { date: r + "-19", title: "Cat Frisbee", location: "Jefferson Park" }, { date: r + "-23", title: "Kitten Demonstration", location: "Center for Beautiful Cats" }, { date: s + "-07", title: "Small Cat Photo Session", location: "Center for Cat Photography" }];

        }
        (window, document, jQuery);

    </script>
}