﻿@{
    ViewBag.Title = "Gerakan kapal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Server-side processing -->
<section id="server-processing">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="text-transform: capitalize;">Gerakan Pandu @ViewBag.mvType (@ViewBag.lcName)</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a class="reloadVesselProgress" data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <!--<p class="card-text">
                            Berikut ini adalah daftar kapal yang @ViewBag.mvType di - <b><code>@ViewBag.lcName</code></b>
                        </p>-->
                        <table class="listDataKapal table table-striped table-bordered server-side">
                            <thead>
                                <tr>
                                    <th>No. PKK</th>
                                    <th>Kapal</th>
                                    <th>Jenis</th>
                                    <th>Dari</th>
                                    <th>Ke</th>
                                    <th>Tanggal</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!--/ Javascript sourced data -->
@section VendorStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/buttons.bootstrap4.min.css">
}

@section CustomStyle {
    <style type="text/css">
        table.listDataKapal td {
            cursor: pointer;
        }

        table.listDataKapalQueue td {
            cursor: pointer;
        }

        .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
            color: #2196F3 !important;
        }

        @@media (min-width:992px) {
            .fixeds.col-xl-4.col-lg-4 {
                position: fixed !important;
                right: 0 !important;
            }
        }

        @@media (max-width:991px) {
            .fixeds.col-xl-4.col-lg-4 {
                display: none !important;
            }
        }
    </style>
}

@section Plugins {
    <script src="~/robust-assets/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/components/extensions/knob.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/moment.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script type="text/javascript">
    $(document).ready(function () {
        var tableDataQueue = $('.server-side').DataTable({
            "bAutoWidth": false,
            "responsive": true,
            "ajax": {
                "url": "@Url.Action("getDataGerakanKapal", "Home")",
                "type": "GET",
                "data": function (data) {
                    data.MovType = '@ViewBag.mvType',
                    data.locCode = '@ViewBag.lcName',
                    data.search = $('.dataTables_filter').find('input').val();
                    data.fLine = "QUEUE";
                }
            },
            "columns": [
                {
                    "data": "NO_PKK",
                    "render": function (a, b, f) {
                        return f.NO_PKK + '<br>' + '<span style="font-size:10px"> ID. Visit : <b>' + f.ID_VISIT + '</b>';
                    }
                },
                {
                    "data": "KAPAL",
                    "width": "25%",
                    "render": function (a, b, d) {
                        return d.NAMA_KAPAL + '<br>' + '<b style="font-size:10px"><span> GRT / LOA : ' + d.GT_KAPAL + ' / ' + d.LOA + '</span></b>';
                    }
                },
                { "data": "MKPL_JENIS" },
                { "data": "NAMA_PELABUHAN_ASAL", "width": "15%" },
                { "data": "NAMA_PELABUHAN_TUJUAN", "width": "15%" },
                {
                    "data": "TGL",
                    "class": "dt-body-center",
                    "render": function (a, b, d) {
                        return moment(d.TGL_MULAI_PTP).format("DD/MM/YYYY HH:mm");
                    }
                },
            ],
            "destroy": true,
            "ordering": false,
            "processing": true,
            "serverSide": true,

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"]
            ],

            "pageLength": 10,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Indonesian.json"
            },
            "filter": true
        });

    });
    </script>
}