﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HttpCookie cookiess = Request.Cookies["autoReload"];

    int autoreloada = Int32.Parse(Request.Cookies["autoReload"]["homeIndexCounterVesselProgress"].ToString());
    int autoreloadb = Int32.Parse(Request.Cookies["autoReload"]["homeIndexCounterGerakanKapal"].ToString());
    int autoreloadc = Int32.Parse(Request.Cookies["autoReload"]["homeIndexCounterAvaPandu"].ToString());
    int homeIndexCounterVesselProgress = 15;
    int homeIndexCounterGerakanKapal = 15;
    int homeIndexCounterAvaPandu = 15;



    if (autoreloada > 0 && autoreloadb > 0)
    {        //get the values out

        homeIndexCounterVesselProgress = autoreloada;
        homeIndexCounterGerakanKapal = autoreloadb;
        homeIndexCounterAvaPandu = autoreloadc;

    }

}

    <!-- Sales stats -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header no-border-bottom ">
                <h4 class="card-title">Vessel Progress</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a id="btnShowdrdn"><i class="icon-cog3"></i></a>
                        </li>
                        <li id="areaSetReload" class="hide text-muted">
                            Set Auto Reload
                            <select id="drdArVsPr">
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </li>
                        <li><a class="reloadVesselProgressCounter" data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>

                </div>
                <hr>
            </div>
            @*<marquee direction="up" loop="-1" scrolldelay="250" height="150px">style="overflow-y: auto; height:160px"*@
            <div class="card-body" style="margin-top:-20px;">
                <div class="card-block">
                    <div class="row" id="counterPmhDermaga">
                    </div>
                </div>
            </div>
            @*</marquee>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header no-border-bottom pb-0">
                <h4 class="card-title">Avalibilitas Pandu</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a id="btnShowdrdnGr"><i class="icon-cog3"></i></a>
                        </li>
                        <li id="areaGrSetReload" class="hide text-muted">
                            Set Auto Reload
                            <select id="drdArVsAva">
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </li>
                        <li><a class="reloadAvaPanduCounter" data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>

                </div>
                <hr>
            </div>
            <div class="card-body pl-1 pr-1 pb-1">
                <!-- project-info -->
                <h5 class="card-title pl-1">Surabaya</h5>
                <div class="row">
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "STANDBY", location = "02", locName = "SURABAYA" })" target="_blank">
                            <div class="bs-callout-success callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-success px-2">
                                    <i class="icon-power white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot Stand By</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555" id="avaStandBySby">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "ON_BOARD", location = "02", locName = "SURABAYA" })" target="_blank">
                            <div class="bs-callout-success callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-success px-2">
                                    <i class="icon-navicon-round white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot On Board</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaOnBoardSby">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "ON_DUTY", location = "02", locName = "SURABAYA" })" target="_blank">
                            <div class="bs-callout-success callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-success px-2">
                                    <i class="icon-merge white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot On Duty</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaOnDutySby">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- end project-info -->
                <!-- project-info -->
                <h5 class="card-title pl-1" style="margin-top: 10px">Gresik</h5>
                <div class="row">
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "STANDBY", location = "02", locName = "GRESIK" })" target="_blank">
                            <div class="bs-callout-info callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-info px-2">
                                    <i class="icon-power white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot Stand By</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaStandByGsk">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "ON_BOARD", location = "02", locName = "GRESIK" })" target="_blank">
                            <div class="bs-callout-info callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-info px-2">
                                    <i class="icon-navicon-round white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot On Board</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaOnBoardGsk">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "ON_DUTY", location = "02", locName = "GRESIK" })" target="_blank">
                            <div class="bs-callout-info callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-info px-2">
                                    <i class="icon-merge white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot On Duty</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaOnDutyGsk">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- end project-info -->                <!-- project-info -->
                <h5 class="card-title pl-1" style="margin-top: 10px">Jamuang</h5>
                <div class="row pb-1">
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "STANDBY", location = "02", locName = "JAMUANG" })" target="_blank">
                            <div class="bs-callout-warning callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-warning px-2">
                                    <i class="icon-power white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot Stand By</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaStandByJmg">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "ON_BOARD", location = "02", locName = "JAMUANG" })" target="_blank">
                            <div class="bs-callout-warning callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-warning px-2">
                                    <i class="icon-navicon-round white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot On Board</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaOnBoardJmg">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("StatusPandu", "Home", new { movementType = "ON_DUTY", location = "02", locName = "JAMUANG" })" target="_blank">
                            <div class="bs-callout-warning callout-border-left callout-bordered callout-round">
                                <div class="media-left media-middle bg-warning px-2">
                                    <i class="icon-merge white font-medium-5"></i>
                                </div>
                                <div class="media-body" style="padding: 10px 15px 5px 5px">
                                    <h6 class="grey">Pilot On Duty</h6>
                                    <h3 class="text-bold-800" style="margin-top: -10px; color: #555; " id="avaOnDutyJmg">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- end project-info -->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header no-border-bottom pb-0">
                <h4 class="card-title">Gerakan Pandu</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a id="btnShowdrdnGr"><i class="icon-cog3"></i></a>
                        </li>
                        <li id="areaGrSetReload" class="hide text-muted">
                            Set Auto Reload
                            <select id="drdArVsGr">
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </li>
                        <li><a class="reloadGerakanKapalCounter" data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="card-body pl-1 pr-1">
                <!-- project-info -->
                <h5 class="card-title pl-1">Surabaya</h5>
                <div id="project-info" class="card-block row pt-0 ">
                    <a href="@Url.Action("GerakanKapalPandu", "Home", new { movementType = "MASUK", location = "IDSUB", locName = "SURABAYA" })" target="_blank">
                        <div class="project-info-count bg-info col-xs-4 pb-1" style="border: 2px solid #ffffff">
                            <div class="project-info-text" style="margin-top:10px">
                                <h6 class="text-bold-900 white">Gerakan Masuk</h6>
                            </div>
                            <div class="project-info-icon" style="width:80px;height:80px">
                                <h1 class="black text-bold-800" style="margin-top:-25px" id="cnGkms">0</h1>
                                <div class="project-info-sub-icon" style="left:13px;margin-left:5px">
                                    <span class="icon-arrow-down3 grey"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("GerakanKapalPandu", "Home", new { movementType = "PINDAH", location = "IDSUB", locName = "SURABAYA" })" target="_blank">
                        <div class="project-info-count bg-info col-xs-4 pb-1" style="border: 2px solid #ffffff">
                            <div class="project-info-text" style="margin-top:10px">
                                <h6 class="text-bold-900 white">Gerakan Pindah</h6>
                            </div>
                            <div class="project-info-icon" style="width:80px;height:80px">
                                <h1 class="black text-bold-800" style="margin-top:-25px" id="cnGkps">0</h1>
                                <div class="project-info-sub-icon" style="left:13px;margin-left:5px">
                                    <span class="icon-expand grey"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("GerakanKapalPandu", "Home", new { movementType = "KELUAR", location = "IDSUB", locName = "SURABAYA"  })" target="_blank">
                        <div class="project-info-count bg-info col-xs-4 pb-1" style="border: 2px solid #ffffff">
                            <div class="project-info-text" style="margin-top:10px">
                                <h6 class="text-bold-900 white">Gerakan Keluar</h6>
                            </div>
                            <div class="project-info-icon" style="width:80px;height:80px">
                                <h1 class="black text-bold-800" style="margin-top:-25px" id="cnGkks">0</h1>
                                <div class="project-info-sub-icon" style="left:13px;margin-left:5px">
                                    <span class="icon-arrow-up3 grey"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end project-info -->
                <!-- project-info -->
                <h5 class="card-title pl-1">Gresik</h5>
                <div id="project-info" class="card-block row pt-0 ">
                    <a href="@Url.Action("GerakanKapalPandu", "Home", new { movementType = "MASUK", location = "IDGRE", locName = "GRESIK" })" target="_blank">
                        <div class="project-info-count bg-warning col-xs-4 pb-1" style="border: 2px solid #ffffff">
                            <div class="project-info-text" style="margin-top:10px">
                                <h6 class="text-bold-900 white">Gerakan Masuk</h6>
                            </div>
                            <div class="project-info-icon" style="width:80px;height:80px">
                                <h1 class="black text-bold-800" style="margin-top:-25px" id="cnGkmg">0</h1>
                                <div class="project-info-sub-icon" style="left:13px;margin-left:5px">
                                    <span class="icon-arrow-down3 grey"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("GerakanKapalPandu", "Home", new { movementType = "KELUAR", location = "IDGRE", locName = "GRESIK" })" target="_blank">
                        <div class="project-info-count bg-warning col-xs-4 pb-1" style="border: 2px solid #ffffff">
                            <div class="project-info-text" style="margin-top:10px">
                                <h6 class="text-bold-900 white">Gerakan Pindah</h6>
                            </div>
                            <div class="project-info-icon" style="width:80px;height:80px">
                                <h1 class="black text-bold-800" style="margin-top:-25px" id="cnGkpg">0</h1>
                                <div class="project-info-sub-icon" style="left:13px;margin-left:5px">
                                    <span class="icon-expand grey"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("GerakanKapalPandu", "Home", new { movementType = "KELUAR", location = "IDGRE", locName = "GRESIK" })" target="_blank">
                        <div class="project-info-count bg-warning col-xs-4 pb-1" style="border: 2px solid #ffffff">
                            <div class="project-info-text" style="margin-top:10px">
                                <h6 class="text-bold-900 white">Gerakan Keluar</h6>
                            </div>
                            <div class="project-info-icon" style="width:80px;height:80px">
                                <h1 class="black text-bold-800" style="margin-top:-25px" id="cnGkkg">0</h1>
                                <div class="project-info-sub-icon" style="left:13px;margin-left:5px">
                                    <span class="icon-arrow-up3 grey"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- end project-info -->
            </div>
        </div>
    </div>
</div>
    

@section VendorStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/extensions/unslider.css">
}

@section CustomStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/components/weather-icons/climacons.min.css">
    <style type="text/css">
        div.cursor-pointer{
            cursor:pointer!important;
        }
        .hide {
            display:none!important;
        }
    </style>
}

@section Plugins {
    <script src="~/robust-assets/js/plugins/charts/raphael-min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/morris.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/chart.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/moment.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/underscore-min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/clndr.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/charts/echarts/echarts.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/unslider-min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/unslider-min.js" type="text/javascript"></script>


    <script src="~/robust-assets/js/components/pages/project-summary-task.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/components/pages/project-summary-bug.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script type="text/javascript">
    $(window).on("load", function () {

        var setCounterVpReload = @homeIndexCounterVesselProgress;
        var setCounterGkReload = @homeIndexCounterGerakanKapal;
        var setCounterAvaReload = @homeIndexCounterAvaPandu;

        function a(a, b, c) {
            a.push(Math.floor(Math.random() * (c - b + 1)) + b), a.shift(), g.update()
        }

        var getRandomColor = function (x) {
            var arryclr = ["primary", "danger", "success", "warning", "info", "red", "pink", "purple", "indigo", "blue", "cyan", "teal", "green", "lime", "yellow", "amber", "orange", "deep-orange", "brown", "grey"];
            var xd = (Math.floor(Math.random() * (20 - 0)) + 0);

            if (x != null) {
                return arryclr[x];
            }
            return arryclr[xd];
        }

        var getDataCounter = function () {
            $.ajax({
                url: "/Home/CounterAllPmhTambat",
                method: "GET",
                dataType: "json",
                success: function (msg) {
                    if (msg.length > 0) {
                        total = 0;
                        $.each(msg, function (ec, vc) {
                            total = total + parseFloat(vc.JML);
                        });
                        var cbg = "";
                        var apn = "", rmx = 0;
                        for(i=0; i<msg.length; i++){
                            if (msg[i].NAMA_CABANG != cbg){
                                apn += "<div class='col-md-12' style='padding-bottom:20px'><span class='pl-1' style='font-weight:bold'>" + msg[i].NAMA_CABANG + "</span></div>";
                                cbg =  msg[i].NAMA_CABANG;
                            }
                            var clr = "";
                            var x = i.toString();
                            var c = x.substr(-1);
                            if (c==0){clr="progress-purple";}
                            else if (c==1){clr="progress-lime";}
                            else if (c==2){clr="progress-green";}
                            else if (c==3){clr="progress-danger";}
                            else if (c==4){clr="progress-info";}
                            else if (c==5){clr="progress-warning";}
                            else if (c==6){clr="progress-success";}
                            else if (c==7){clr="progress-orange";}
                            else if (c==8){clr="progress-amber";}
                            else if (c==9){clr="progress-cyan";}
                            apn += "<div class='col-md-2'> " +
                                        "<a href='/Home/PmhTambatHrIniByKapal?mdmg=" + msg[i].REA_KD_DMG + "&nm=" + msg[i].REA_NAMA_DMG + "&cbg=" + msg[i].KD_CABANG + "' target='_blank'>" +
                                        "<div class='media px-1'> " +
                                            "<div class='cursor-pointer media-left media-middle'> " +
                                                "<i class='icon-ship font-large-2 black'></i> " +
                                            "</div> " +
                                            "<div class='cursor-pointer media-body text-xs-right' style='height: 70px;'> " +
                                                "<b style='font-size: 13px; text-transform: uppercase'>" + msg[i].REA_NAMA_DMG + "</b> " +
                                            "</div> " +
                                            "<div class='cursor-pointer text-muted pb-1' style='min-height: 60px'> " +
                                                "<span class='font-medium-1 text-bold-300'><b class='text-bold-400'>BERTHING:</b> <b class='blue text-bold-500'>" + msg[i].JML + "</b></span> <br/>" +
                                                "<span class='font-medium-1 text-bold-300 media-left'><b class='text-bold-400'>ETA:</b> <b class='green text-bold-500'>" + msg[i].MASUK + "</b></span> " +
                                                "<span class='font-medium-1 text-bold-300 media-right'><b class='text-bold-400'>ETD:</b> <b class='brown text-bold-500'>" + msg[i].KELUAR + "</b></span> " +
                                            "</div> " +
                                            "<progress class='progress " + clr + " progress-sm progress-0' value='100' max='100'></progress> " +
                                        "</div></a> " +
                                    "</div>";
                        };

                        $("div[id=counterPmhDermaga]").html(apn);
                        //$('.cursor-pointer').click(function () {
                        //    console.log($(this));
                        //    var namadmg = $(this).data('nama');
                        //    //window.location.href = '/Home/PmhTambatHrIniByKapal?mdmg=' + $(this).attr('alt') + '&nm=' + namadmg;
                        //    //window.open('/Home/PmhTambatHrIniByKapal?mdmg=' + $(this).attr('alt') + '&nm=' + namadmg,'_blank');
                        //});
                    }
                }
            }).done(function(){
                getDataGrKCounter();
            });

        }

        var getDataGrKCounter = function(){
            $.ajax({
                url: "/Home/CounterAllPmhGrkKapal",
                method: "GET",
                dataType: "json",
                success: function (msg) {
                    for(i=0; i < msg.length; i++){
                        if(msg[i].PNT_JENIS_GERAKAN == "MASUK") {
                            if(msg[i].KODE_CABANG == "02"){
                                $("[id=cnGkms]").html(msg[i].JML);
                            }
                            else{
                                $("[id=cnGkmg]").html(msg[i].JML);
                            }
                        }
                        else if(msg[i].PNT_JENIS_GERAKAN == "PINDAH") {
                            if(msg[i].KODE_CABANG == "02"){
                                $("[id=cnGkps]").html(msg[i].JML);
                            }
                            else{
                                $("[id=cnGkpg]").html(msg[i].JML);
                            }
                        }
                        else if(msg[i].PNT_JENIS_GERAKAN == "KELUAR") {
                            if(msg[i].KODE_CABANG == "02"){
                                $("[id=cnGkks]").html(msg[i].JML);
                            }
                            else{
                                $("[id=cnGkkg]").html(msg[i].JML);
                            }
                        }
                    }
                    getDataPanduCounter();
                }
            });
        }

        var getDataPanduCounter = function(){
            $.ajax({
                url: "/Home/CounterAvalibilitasPandu",
                method: "GET",
                dataType: "json",
                success: function (msg) {
                    for(i=0; i < msg.length; i++){
                        if(msg[i].JENIS == "STANDBY") {
                            if(msg[i].NAMA_CABANG == "SURABAYA"){
                                $("[id=avaStandBySby]").html(msg[i].JML);
                            }
                            else if(msg[i].NAMA_CABANG == "GRESIK"){
                                $("[id=avaStandByGsk]").html(msg[i].JML);
                            }
                            else{
                                $("[id=avaStandByJmg]").html(msg[i].JML);
                            }
                        }
                        else if(msg[i].JENIS == "ON_BOARD") {
                            if(msg[i].NAMA_CABANG == "SURABAYA"){
                                $("[id=avaOnBoardSby]").html(msg[i].JML);
                            }
                            else if(msg[i].NAMA_CABANG == "GRESIK"){
                                $("[id=avaOnBoardGsk]").html(msg[i].JML);
                            }
                            else{
                                $("[id=avaOnBoardJmg]").html(msg[i].JML);
                            }
                        }
                        else if(msg[i].JENIS == "ON_DUTY") {
                            if(msg[i].NAMA_CABANG == "SURABAYA"){
                                $("[id=avaOnDutySby]").html(msg[i].JML);
                            }
                            else if(msg[i].NAMA_CABANG == "GRESIK"){
                                $("[id=avaOnDutyGsk]").html(msg[i].JML);
                            }
                            else{
                                $("[id=avaOnDutyJmg]").html(msg[i].JML);
                            }
                        }
                    }
                }
            });
        }
        
        getDataCounter();

        var autoreloadsss = setInterval(function(){ getDataCounter() }, 1000*60*(setCounterVpReload));

        $('a.reloadVesselProgressCounter').click(function () {
            getDataCounter();
        });
        $('a.reloadGerakanKapalCounter').click(function () {
            getDataGrKCounter();
        });
        $('a.reloadAvaPanduCounter').click(function () {
            getDataPanduCounter();
        });

        $("[id=btnShowdrdn]").click(function(e) {
            e.preventDefault();
            $('[id=areaSetReload]').removeClass("hide");
        });

        $("[id=btnShowdrdnGr]").click(function(e) {
            e.preventDefault();
            $('[id=areaGrSetReload]').removeClass("hide");
        });

        $('[id=areaSetReload]').focusout(function(){
            $(this).addClass("hide");
        });
        $('[id=areaGrSetReload]').focusout(function(){
            $(this).addClass("hide");
        });


        $("select[id=drdArVsPr]").change(function(){
            var vld = $(this).val();

            $.ajax({
                url: "@Url.Action("SetCookiesReload", "Home")",
                method: "GET",
                dataType: "json",
                data: { reloadParamValue: vld, reloadParamName :"homeIndexCounterVesselProgress" }
            }).done(function () {
                setCounterVpReload = parseInt(vld);
                clearInterval(autoreloadsss);
                autoreloadsss = setInterval(function(){ getDataCounter() }, 1000*60*(setCounterVpReload));
            });
        });

        $("select[id=drdArVsGr]").change(function(){
            var vld = $(this).val();

            $.ajax({
                url: "@Url.Action("SetCookiesReload", "Home")",
                method: "GET",
                dataType: "json",
                data: { reloadParamValue: vld, reloadParamName :"homeIndexCounterGerakanKapal" }
            }).done(function () {
                setCounterVpReload = parseInt(vld);
                clearInterval(autoreloadsss);
                autoreloadsss = setInterval(function(){ getDataGrKCounter() }, 1000*60*(setCounterVpReload));
            });
        });

        $("select[id=drdArVsAva]").change(function(){
                var vld = $(this).val();
                $.ajax({
                    url: "@Url.Action("SetCookiesReload", "Home")",
                    method: "GET",
                dataType: "json",
                data: { reloadParamValue: vld, reloadParamName :"homeIndexCounterAvaPandu" }
            }).done(function () {
                setCounterVpReload = parseInt(vld);
                clearInterval(autoreloadsss);
                autoreloadsss = setInterval(function(){ getDataGrKCounter() }, 1000*60*(setCounterVpReload));
            });
        });
    });
</script>
}