﻿@{
    ViewBag.Title = "Jadwal Kedatangan kapal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Server-side processing -->
<section id="server-processing">
    <div class="row">
        <div class="col-md-2" style="margin-bottom:5px">
            <a href="#mCabang" data-toggle="modal" id="UbahCabang" class="btn btn-success">
                <i class="icon-sitemap"></i> Ubah Cabang
            </a>
        </div>
        <div class="modal fade" id="mCabang" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title font-blue-ebonyclay"><i class="fa fa-cog margin-right-10"></i> Pilih Session Tujuan</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-12">Cabang</label>
                                <div class="col-md-12">
                                    <select id="txtPilihCabang" class="bs-select form-control" data-live-search="true" data-size="8"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-12">Terminal</label>
                                <div class="col-md-12">
                                    <select id="txtPilihTerminal" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn green" id="btn-ganti">Pilih</button>
                                    <button type="button" class="btn btn blue-chambray" data-dismiss="modal">Kembali</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <span id="kdCabang" style="display:none"></span><span id="kdDermaga" style="display:none"></span>
                    <h4 class="card-title" style="text-transform: capitalize;">Jadwal Kedatangan Kapal
                        [<span id="lbCabang"></span>
                         - <span id="lbDermaga"></span>]
                    </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a class="reloadVesselProgress" data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <!--<p class="card-text">
                            Berikut ini adalah daftar kapal yang @ViewBag.mvType di - <b><code>@ViewBag.lcName</code></b>
                        </p>-->
                        <table class="listDataKapal table table-striped table-bordered server-side">
                            <thead>
                                <tr>
                                    <th>Kapal</th>
                                    <th>Agen</th>
                                    <th>Dermaga</th>
                                    <th>Asal-Tujuan</th>
                                    <th>Kade</th>
                                    <th>Est.</th>
                                    <th>Real.</th>
                                    <th style="text-align:center;">Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!--/ Javascript sourced data -->
@section VendorStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/buttons.bootstrap4.min.css">
    @*<link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/extensions/bootstrap-min.css" />*@
    @*<link href="~/robust-assets/css/plugins/forms/selects/select2.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/global/plugin/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}

@section CustomStyle {
    <style type="text/css">
        div.dataTables_scrollHead table.dataTable {
            width: 100% !important;
        }

        div.dataTables_scrollHeadInner {
            width: 100% !important;
        }

            div.dataTables_scrollHeadInner .listDataKapal {
                width: 100% !important;
            }

        table.listDataKapal td {
            cursor: pointer;
        }

        table.listDataKapalQueue td {
            cursor: pointer;
        }

        .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
            color: #2196F3 !important;
        }

        @@media (min-width:992px) {
            .fixeds.col-xl-4.col-lg-4 {
                position: fixed !important;
                right: 0 !important;
            }
        }

        @@media (max-width:991px) {
            .fixeds.col-xl-4.col-lg-4 {
                display: none !important;
            }
        }

        .dataTables_scrollBody {
            height: 500px;
            overflow: hidden;
            position: relative;
        }

            .dataTables_scrollBody .listDataKapal {
                position: absolute;
                width: 100%;
                height: 100%;
                -moz-transform: translateY(-100%);
                -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
                /* Apply animation to this element */
                -moz-animation: example3 550s linear infinite;
                -webkit-animation: example3 550s linear infinite;
                animation: example3 550s linear infinite;
            }
        ::-webkit-scrollbar {
            display: none;
        }
        /* Move it (define the animation) */
        @@-moz-keyframes example3 {
            0% {
                -moz-transform: translateY(-100%);
            }

            100% {
                -moz-transform: translateY(100%);
            }
        }

        @@-webkit-keyframes example3 {
            0% {
                -webkit-transform: translateY(-100%);
            }

            100% {
                -webkit-transform: translateY(100%);
            }
        }

        @@keyframes example3 {
            0% {
                -moz-transform: translateY(-100%); /* Firefox bug fix */
                -webkit-transform: translateY(-100%); /* Firefox bug fix */
                transform: translateY(-100%);
            }

            100% {
                -moz-transform: translateY(100%); /* Firefox bug fix */
                -webkit-transform: translateY(100%); /* Firefox bug fix */
                transform: translateY(100%);
            }
        }

    </style>
}

@section Plugins {
    <script src="~/robust-assets/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/components/extensions/knob.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/extensions/moment.min.js"></script>
    @*<script src="~/robust-assets/js/plugins/forms/select/select2.full.min.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="~/assets/global/script/app.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var handleBootstrapSelect = function () {
                $('.bs-select').selectpicker({
                    //iconBase: 'fa',
                    //tickIcon: 'fa-check'
                });
            }

            var selectTerminal = 
                $('#txtPilihCabang').change(function () {
                    var txtPilihCabang = $('#txtPilihCabang').val();
                    var p = {
                        xKD_CABANG: txtPilihCabang
                    }
                    $.ajax({
                        type: "POST",
                        url: "/ViewHelper/getTerminalByCabang",
                        data: JSON.stringify(p),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            $("#txtPilihTerminal").find('option')
                                .remove()
                                .end();
                            var dt = data.items;
                            for (var i = 0; i < dt.length; i++) {
                                $("#txtPilihTerminal").append("<option value='" + dt[i].KD_TERMINAL + "'>" + dt[i].NAMA_TERMINAL + "</option>");
                            }
                        }
                    });
                });
            

            var selectCabang = 
                $("#UbahCabang").click(function (e) {
                    $.ajax({
                        type: "POST",
                        url: "/ViewHelper/getCabang",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            $("#txtPilihCabang").find('option')
                                    .remove()
                                    .end();
                            $("#txtPilihCabang").append("<option value='0'>PILIH CABANG</option>");
                            for (var i = 0; i < data.length; i++) {
                                $("#txtPilihCabang").append("<option value='" + data[i].KODE_CABANG + "'>" + data[i].NAMA_PELB + "</option>");
                            }
                            $("#txtPilihCabang").append("<option value='0'>SEMUA DERMAGA</option>");
                            //handleBootstrapSelect();
                            //selectTerminal();
                        }
                    });
                });
            

            var gantiKodeCabang = 
                $('#btn-ganti').click(function () {
                    App.blockUI({ boxed: true });
                    var txtPilihCabang = $('#txtPilihCabang').val();
                    var txtCabang = $('#txtPilihCabang :selected').text();
                    var txtPilihTerminal = $('#txtPilihTerminal').val();
                    var txtTerminal = $('#txtPilihTerminal :selected').text();
                    $("#lbCabang").html(txtCabang);
                    $("#lbDermaga").html(txtTerminal);
                    $("#kdDermaga").html(txtPilihTerminal);
                    $("#kdCabang").html(txtPilihCabang);
                    $(".server-side").DataTable({
                        "bAutoWidth": false,
                        "responsive": true,
                        "ajax": {
                            "url": "GetMonitoringTambatHarini",
                            "type": "GET",
                            "data": function (data) {
                                data.search = $('.dataTables_filter').find('input').val();
                                data.fLine = "BEING_PROGRESS";
                                data.mdmgKode = txtPilihTerminal;
                                data.kodecbg = txtPilihCabang;
                            }
                        },
                        "columns": [
                            {
                                "data": "NAMA_KAPAL"
                            },
                            {
                                "data": "NAMA_AGEN"
                            },
                            {
                                "data": "REA_NAMA_DMG"
                            },
                            {
                                "data": "NAMA_PELABUHAN_ASAL",
                                "render": function (a, b, c) {
                                    var rtn = c.NAMA_PELABUHAN_ASAL + " - " + c.NAMA_PELABUHAN_TUJUAN;
                                    return rtn;
                                }
                            },
                            {
                                "data": "KADE_METER"
                            },
                            {
                                "data": "PNT_TGL_MULAI",
                                "render": function (a, b, c) {
                                    var rtn = moment(c.PNT_TGL_MULAI).format("DD/MM/YYYY HH:mm");
                                    return rtn;
                                }
                            },
                            {
                                "data": "PNT_TGL_SELESAI",
                                "render": function (a, b, c) {
                                    var rtn = moment(c.PNT_TGL_SELESAI).format("DD/MM/YYYY HH:mm");
                                    return rtn;
                                }
                            },
                            {
                                "data": "PROGRESS",
                                "class": "dt-body-center",
                                "render": function (a, b, c) {
                                    var rtn = '<div style="background-color: ' + c.COLOR + '; padding:2px; border-radius:3px; text-align:center; ' +
                                        'font-size:11px; font-weight:bold">' + c.PROGRESS + '</div>';
                                    return rtn;
                                }
                            },
                        ],
                        "destroy": true,
                        "ordering": false,
                        "processing": true,
                        "serverSide": true,
                        "responsive": false,
                        "scrollY": "500px",
                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, "All"]
                        ],

                        "pageLength": 1000,

                        "language": {
                            "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Indonesian.json"
                        },
                        "filter": true
                    });
                    $('.modal').modal('hide');
                    App.unblockUI();
                });

            //var tableData = 
        });
    </script>
}