﻿@{
    ViewBag.Title = "Daftar Permohonan Tambat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Server-side processing -->
<section id="server-processing">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vessel Progress (@ViewBag.kodedmg - @ViewBag.namadmg)</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a class="reloadVesselProgress" data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <p class="card-text">
                            Berikut ini adalah daftar kapal yang sedang berkegiatan di dermaga <b><code>@ViewBag.kodedmg - @ViewBag.namadmg</code></b>
                        </p>
                        <table class="listDataKapal table table-striped table-bordered server-side">
                            <thead>
                                <tr>
                                    <th class="hide"></th>
                                    <th>Nama Kapal</th>
                                    <th>Agen</th>
                                    <th>Kade Tambat</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="hide"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixeds col-xl-4 col-lg-4 col-md-12" id="rightSideDetails">
            <div class="card">
                <div class="card-body">
                    <a style="float:left;margin-left:-20px" 
                        id="loadModalMoreDetails" class="btn btn-warning btn-sm mt-1" 
                       data-toggle="modal" data-target="#xlarge">
                        <i class="icon-search-plus"></i> More Details...
                    </a>
                    <a style="float:right" class="btn btn-info btn-sm mt-1">
                        <i class="icon-ship"></i> <span id="lblSource"></span>
                    </a>
                    <div class="card-block text-xs-center">
                        <div class="card-header mb-1 mt-2 pr-0 pl-0" style="padding-top:0px">
                            <span class="font-small-3 text-muted darken-1 text-bold" id="dNoPkk"></span>
                            <h3 class="grey darken-1 text-bold-400 mt-1" id="dNamaKapal"></h3>
                            <span class="font-small-3 text-muted darken-1 " id="dgrtLoa"></span><br>
                            <span class="success darken-1" id="dNamaAgen"></span>
                        </div>
                        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-12 col-lg-12 col-md-12">
                                    <table style="width:100%" class="mb-2">
                                        <tr>
                                            <td align="left" id="dFirstLine"></td>
                                            <td align="right" id="dtglSelesai"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" id="dProgres">
                                                <progress value="97" max="100" class="progress progress-sm progress-success m-0">97%</progress>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr>
                                </div>
                                
                            </div>

                            <!--div class="row">
                                <div class="col-xs-12 col-lg-12 col-md-12  text-xs-left">
                                    <span class="font-small-2 text-muted m-0">Pandu Masuk</span><br>
                                    <span class="text-bold-400 pl-2">&nbsp;<span id="dPanduMasuk"></span></span><br>
                                    <span class="font-small-2 text-muted m-0">Pandu Keluar</span><br>
                                    <span class="text-bold-400 pl-2">&nbsp;<span id="dPanduKaluar"></span></span><br>
                                    <hr>                                    
                                </div>
                            </div>-->

                            <div class="row">
                                <div class="col-xs-6 col-lg-6 col-md-6">
                                    <div class="grey darken-1 text-bold-400">Bongkar</div><br>
                                    <input type="text" value="0" id="knob_bongkar" class="knob hide-value responsive angle-offset" data-angleOffset="180" data-thickness=".15" data-linecap="round" data-width="150" data-height="150" data-inputColor="#e1e1e1" data-readOnly="true" data-fgColor="#009688" data-knob-icon="icon-dollar">
                                    <ul class="list-inline clearfix mt-2 mb-0 col-xs-6">
                                        <li>
                                            <h4 class="grey darken-1 text-bold-400" id="dProgresBongkar">0%</h4>
                                            <span class="success">Progress</span>
                                        </li>
                                    </ul>
                                    <ul class="list-inline clearfix mt-2 mb-0 col-xs-6">
                                        <li class="border-right-grey border-right-lighten-2 pl-1 pr-1">
                                            <h4 class="grey darken-1 text-bold-400" id="dRemainingBongkar">100%</h4>
                                            <span class="danger">Remaining</span>
                                        </li>
                                    </ul>
                                    
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-12 col-md-12">
                                            <table style="width:100%" class="mb-2 mt-1">
                                                <tr>
                                                    <td colspan="2" id="pgrsBongkar">
                                                        <progress class="progress progress-striped progress-sm progress-cyan" value="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span class="font-small-2 text-muted m-0" id="tglpgrsBongkarS"></span></td>
                                                    <td align="right"><span class="font-small-2 text-muted m-0" id="tglpgrsBongkarE"></span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-xs-6 col-lg-6 col-md-6">
                                    <div class="grey darken-1 text-bold-400">Muat</div><br>
                                    <input type="text" value="0" id="knob_muat" class="knob hide-value responsive angle-offset" data-angleOffset="180" data-thickness=".15" data-linecap="round" data-width="150" data-height="150" data-inputColor="#e1e1e1" data-readOnly="true" data-fgColor="#FB8C00" data-knob-icon="icon-dollar">
                                    <ul class="list-inline clearfix mt-2 mb-0 col-xs-6">
                                        <li>
                                            <h4 class="grey darken-1 text-bold-400"  id="dProgresMuat">0%</h4>
                                            <span class="success">Progress</span>
                                        </li>
                                    </ul>
                                    <ul class="list-inline clearfix mt-2 mb-0 col-xs-6">
                                        <li class="border-right-grey border-right-lighten-2 pl-1 pr-1">
                                            <h4 class="grey darken-1 text-bold-400"  id="dRemainingMuat">100%</h4>
                                            <span class="danger">Remaining</span>
                                        </li>
                                    </ul>

                                    <div class="row">
                                        <div class="col-xs-12 col-lg-12 col-md-12">
                                            <table style="width:100%" class="mb-2 mt-1">
                                                <tr>
                                                    <td colspan="2" id="pgrsMuat">
                                                        <progress class="progress progress-striped progress-sm progress-amber" value="0" max="100"></progress>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left"><span class="font-small-2 text-muted m-0" id="tglpgrsMuatS"></span></td>
                                                    <td align="right"><span class="font-small-2 text-muted m-0" id="tglpgrsMuatE"></span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vessel Queue (@ViewBag.kodedmg - @ViewBag.namadmg)</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a class="reloadVesselQueue" data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <p class="card-text">
                            Berikut ini adalah daftar kapal yang sedang dalam antrian untuk berkegiatan di dermaga <b><code>@ViewBag.kodedmg - @ViewBag.namadmg</code></b>
                        </p>
                        <table class="listDataKapalQueue table table-striped table-bordered server-side-queue">
                            <thead>
                                <tr>
                                    <th class="hide"></th>
                                    <th>Nama Kapal</th>
                                    <th>Agen</th>
                                    <th>Kade Tambat</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="hide"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sreecn Resolution -->
    <div class="modal fade text-xs-left" id="DetailShown" tabindex="-1" role="dialog" aria-labelledby="moreDetailsModals" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="moreDetailsModals">Detail Inforamsi Kapal - <span class="mdNamaKapal text-bold-800"></span></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="icon-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade text-xs-left" id="xlarge" tabindex="-1" role="dialog" aria-labelledby="moreDetailsModals" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="moreDetailsModals">Detail Inforamsi Kapal - <span class="mdNamaKapal text-bold-800"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="card-block p-0">
                        <div class="nav-vertical">
                            <ul class="nav nav-tabs nav-left">
                                <li class="nav-item">
                                    <a class="nav-link active grey text-bold-600" id="btInfKapal" data-toggle="tab" aria-controls="tVInfKapal" href="#tInfKapal" aria-expanded="true"><i class="icon-ship"></i> Informasi Kapal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link grey text-bold-600 hidden" id="btLabuh" data-toggle="tab" aria-controls="tVLabuh" href="#tLabuh" aria-expanded="false"><i class="icon-anchor"></i> Labuh</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link grey text-bold-600 hidden" id="btTambat" data-toggle="tab" aria-controls="tVTambat" href="#tTambat" aria-expanded="false"><i class="icon-anchor"></i> Tambat</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link grey text-bold-600 hidden" id="btPandu" data-toggle="tab" aria-controls="tVPandu" href="#tPandu" aria-expanded="false"><i class="icon-user4"></i> Pandu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link grey text-bold-600 hidden" id="btTunda" data-toggle="tab" aria-controls="tVTunda" href="#tTunda" aria-expanded="false"><i class="icon-compress"></i> Tunda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link grey text-bold-600 hidden" id="btAirKapal" data-toggle="tab" aria-controls="tVAirKapal" href="#tAirKapal" aria-expanded="false"><i class="icon-tint"></i> Air Kapal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link grey text-bold-600 hidden" id="btTmbhBtl" data-toggle="tab" aria-controls="tVTmbhBtl" href="#tTmbhBtl" aria-expanded="false"><i class="icon-pencil-square-o"></i> Perubahan/Pembatalan</a>
                                </li>
                            </ul>
                            <div class="tab-content px-1">
                                <div role="tabpanel" class="tab-pane active" id="tInfKapal" aria-expanded="true" aria-labelledby="btInfKapal">                                    
                                    <form class="form">                                        
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="icon-ship"></i> <span class="mdNamaKapal"></span></h4>
                                            <div class="row">
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>Kode Kapal : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdMkplKode"></label>
                                                </div>
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>MMSI : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdMmsi"></label>
                                                </div>
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>CallSign : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdCallSign"></label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>Jenis Kapal : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdJnsKapal"></label>
                                                </div>
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>GRT / LOA : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdGrtLoa"></label>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>Nomor PKK : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdNoPKK"></label>
                                                </div>
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>Nomor PPKB1 : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdNoPPKB1"></label>
                                                </div>
                                                <div class="form-group col-md-4 mb-2">
                                                    <label>Nomor Form : </label>
                                                    <label class="pl-1 text-bold-800 col-lg-12" id="mdNoForm"></label>
                                                </div>
                                            </div>

                                            <h4 class="form-section"><i class="icon-exchange"></i> Realisasi Bangkar & Muat</h4>
                                            <div class="row">
                                                <div class="col-xs-6 col-lg-6 col-md-6">
                                                    <div class="grey darken-1 col-lg-12 text-bold-900 mb-1 pl-3">Bongkar</div><br>
                                                    <div class="text-xs-center col-lg-5 col-xs-5 col-md-5">
                                                        <input type="text" value="0" id="knob_bongkar" class="knob hide-value responsive angle-offset" data-angleOffset="180" data-thickness=".15" data-linecap="round" data-width="150" data-height="100" data-inputColor="#e1e1e1" data-readOnly="true" data-fgColor="#009688" data-knob-icon="icon-dollar">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-1">
                                                                <label>Rencana Bongkar : <span id="d_vlrcnBongkar"></span></label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-1">
                                                                <label>Realisasi Bongkar : <span id="d_vlrelBongkar"></span></label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-1">
                                                                <label>Sisa Bongkar : <span id="d_vlsisaBongkar"></span></label>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                    
                                                    <div class="row">
                                                        <div class="col-xs-12 col-lg-12 col-md-12">
                                                            <table style="width:100%" class="mb-2 mt-1">
                                                                <tr>
                                                                    <td colspan="2" id="pgrsBongkard">
                                                                        <progress class="progress progress-striped progress-sm progress-cyan" value="0" max="100"></progress>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left"><span class="font-small-2 text-muted m-0" id="tglpgrsBongkarSd"></span></td>
                                                                    <td align="right"><span class="font-small-2 text-muted m-0" id="tglpgrsBongkarEd"></span></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                                                                    
                                                </div>
                                                <div class="col-xs-6 col-lg-6 col-md-6">
                                                    <div class="grey darken-1 col-lg-12 text-bold-900 mb-1 pl-3">Muat</div><br>
                                                    <div class="text-xs-center col-lg-5 col-xs-5 col-md-5">
                                                        <input type="text" value="0" id="knob_muat" class="knob hide-value responsive angle-offset" data-angleOffset="180" data-thickness=".15" data-linecap="round" data-width="150" data-height="100" data-inputColor="#e1e1e1" data-readOnly="true" data-fgColor="#FB8C00" data-knob-icon="icon-dollar">
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-1">
                                                                <label>Rencana Muat : <span id="d_vlrcnMuat"></span></label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-1">
                                                                <label>Realisasi Muat : <span id="d_vlrelMuat"></span></label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12 mb-1">
                                                                <label>Sisa Muat : <span id="d_vlsisaMuat"></span></label>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-xs-12 col-lg-12 col-md-12">
                                                            <table style="width:100%" class="mb-2 mt-1">
                                                                <tr>
                                                                    <td colspan="2" id="pgrsMuatd">
                                                                        <progress class="progress progress-striped progress-sm progress-amber" value="0" max="100"></progress>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left"><span class="font-small-2 text-muted m-0" id="tglpgrsMuatSd"></span></td>
                                                                    <td align="right"><span class="font-small-2 text-muted m-0" id="tglpgrsMuatEd"></span></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tLabuh" aria-labelledby="btLabuh">
                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Labuh</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-list-scroll table-responsive  position-relative ps-container ps-theme-default ps-active-y" data-ps-id="8ed6de58-0ea2-59b6-f58d-da11936acea1">
                                                <table class="table mb-0" id="listLabuh">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-small-2 p-1">Lokasi</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Rec Stat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                                                                               
                                                    </tbody>
                                                </table>
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 400px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 313px;"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tTambat" aria-labelledby="btTambat">
                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Tambat</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-list-scroll table-responsive  position-relative ps-container ps-theme-default ps-active-y" data-ps-id="8ed6de58-0ea2-59b6-f58d-da11936acea1">
                                                <table class="table mb-0" id="listTambat">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-small-2 p-1">No. Form</th>
                                                            <th class="font-small-2 p-1">Lokasi Tambat</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Kade Awal</th>
                                                            <th class="font-small-2 p-1">Kade Akhir</th>
                                                            <th class="font-small-2 p-1">Rec Stat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 400px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 313px;"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tPandu" aria-labelledby="btPandu">
                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Pandu</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-list-scroll table-responsive  position-relative ps-container ps-theme-default ps-active-y" data-ps-id="8ed6de58-0ea2-59b6-f58d-da11936acea1">
                                                <table class="table mb-0 col-md-12" id="listPandutbs">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-small-2 p-1">No. Form</th>
                                                            <th class="font-small-2 p-1">Pilot Pandu</th>
                                                            <th class="font-small-2 p-1">Lokasi Awal</th>
                                                            <th class="font-small-2 p-1">Lokasi Akhir</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">SPK</th>
                                                            <th class="font-small-2 p-1">Rec Stat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 400px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 313px;"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tTunda" aria-labelledby="btTunda">
                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Tunda</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-list-scroll table-responsive  position-relative ps-container ps-theme-default ps-active-y" data-ps-id="8ed6de58-0ea2-59b6-f58d-da11936acea1">
                                                <table class="table mb-0" id="listTunda">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-small-2 p-1">No. Form</th>
                                                            <th class="font-small-2 p-1">Lokasi Awal</th>
                                                            <th class="font-small-2 p-1">Lokasi Akhir</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Rec Stat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 400px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 313px;"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tAirKapal" aria-labelledby="btAirKapal">
                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Air Kapal</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-list-scroll table-responsive  position-relative ps-container ps-theme-default ps-active-y" data-ps-id="8ed6de58-0ea2-59b6-f58d-da11936acea1">
                                                <table class="table mb-0" id="listAirKapal">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-small-2 p-1">No. Form</th>
                                                            <th class="font-small-2 p-1">Lokasi</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Tangal Selesai</th>
                                                            <th class="font-small-2 p-1">Rec Stat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 400px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 313px;"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tTmbhBtl" aria-labelledby="btTmbhBtl">
                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Perubahan / Pembatalan Tambat</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-list-scroll table-responsive  position-relative ps-container ps-theme-default ps-active-y" data-ps-id="8ed6de58-0ea2-59b6-f58d-da11936acea1">
                                                <table class="table mb-0" id="listUBTambat">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-small-2 p-1">No. Form</th>
                                                            <th class="font-small-2 p-1">Keterangan</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Lokasi Awal</th>
                                                            <th class="font-small-2 p-1">Lokasi Akhir</th>
                                                            <th class="font-small-2 p-1">Rec Stat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 400px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 313px;"></div></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Perubahan / Pembatalan Pandu</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-list-scroll table-responsive  position-relative ps-container ps-theme-default ps-active-y" data-ps-id="8ed6de58-0ea2-59b6-f58d-da11936acea1">
                                                <table class="table mb-0" id="listUBPandu">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-small-2 p-1">Keterangan</th>
                                                            <th class="font-small-2 p-1">Rencana Tangal Mulai</th>
                                                            <th class="font-small-2 p-1">Lokasi Awal</th>
                                                            <th class="font-small-2 p-1">Lokasi Akhir</th>
                                                            <th class="font-small-2 p-1">Rec Stat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 400px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 313px;"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="icon-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

</section>
<!--/ Javascript sourced data -->

@section VendorStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/buttons.bootstrap4.min.css">
}

@section CustomStyle {
    <style type="text/css">
        .hide {
            display:none!important;
        }
        table.listDataKapal td {
            cursor:pointer;
        }
        table.listDataKapalQueue td {
            cursor:pointer;
        }

        .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
            color:#2196F3!important;
        }

        @@media (min-width:992px) { 
            .fixeds.col-xl-4.col-lg-4{
                position: fixed!important;
                right: 0!important;
            }
        }
        @@media (max-width:991px) { 
            .fixeds.col-xl-4.col-lg-4{
                display:none!important;
            }
        }



    </style>
    }

@section Plugins {
    <script src="~/robust-assets/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/components/extensions/knob.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/buttons.colVis.min.js" type="text/javascript"></script>
<script src="~/robust-assets/js/plugins/extensions/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/script/app.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if ($(window).width() <= 960) {
                var rightSide = $('div[id=rightSideDetails]').html();
                $('div[id=DetailShown]').find('div.modal-body').html(rightSide);
                $('div[id=rightSideDetails]').remove();
            }

            var DetailKapal = [];
            $(".table-list-scroll").perfectScrollbar({wheelPropagation:!0});

            var getDiferentTimeMinutes = function (date_future, date_now) {
                var diffMs = (date_future - date_now);
                var diffDays = Math.floor(diffMs / 86400000); // days
                var diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
                var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000); // minutes
                return (diffDays * 24 * 60) + ((diffHrs * 60)) + ((diffMins));
            };

            var setCookieD = function (a) {
                $.ajax({
                    url: "SetDetailCookies",
                    method: "GET",
                    dataType: "json",
                    data: { tppkb1Nomor: a }
                }).done(function () {
                    getDataDetails();
                });
            };

            var getDataDetails = function () {
                App.blockUI({ boxed: true });
                $.ajax({
                    url: "getDataDetailsKegiatanKapal",
                    method: "GET",
                    dataType: "json",
                    data: { mdmgKode : '@ViewBag.kodedmg',
                        kodecbg : '@ViewBag.kodecbg' },
                    success: function (msg) {
                        App.unblockUI();
                        if (msg.dataKapal != null) {
                            $('[id=dNoPkk]').text(msg.dataKapal.NO_PKK + ' - (No. Form : ' + msg.dataKapal.NO_PPK1 + ')');
                            $('[id=dgrtLoa]').html('GRT : ' + msg.dataKapal.GT_KAPAL + ' / LOA : ' + msg.dataKapal.LOA);
                            $('[id=dNamaKapal]').text(msg.dataKapal.NAMA_KAPAL);
                            $('[id=dNamaAgen]').text('( ' + msg.dataKapal.NAMA_AGEN + ' )');

                            var ff_line = (msg.dataKapal.REA_TGL_MULAI != null) ? msg.dataKapal.REA_TGL_MULAI : msg.dataKapal.PNT_TGL_MULAI;

                            $('[id=dFirstLine]').html('<span class="font-small-2 text-muted m-0">' + ((msg.dataKapal.REA_TGL_MULAI == null) ? "Rencana " : "") + 'Mulai Tambat</span><br>' + moment(ff_line).format("DD/MM/YYYY HH:mm"));
                            $('[id=dtglSelesai]').html('<span class="font-small-2 text-muted m-0">Rencana Selesai Tambat</span><br>' + moment(msg.dataKapal.PNT_TGL_SELESAI).format("DD/MM/YYYY HH:mm"));

                            var rtn = '';
                            if (msg.dataKapal.PROGRESS < 100) {
                                rtn = '<progress value="' + msg.dataKapal.PROGRESS + '" max="100" class="progress progress-sm progress-success m-0">' + msg.dataKapal.PROGRESS + '%</progress>';
                            }
                            else if (msg.dataKapal.PROGRESS = 100) {
                                rtn = '<progress value="100" max="100" class="progress progress-sm progress-danger m-0">100%</progress>';
                            }

                            $('[id=dProgres]').html(rtn);
                            for (c = 0; c < msg.dataBalance.length; c++) {
                                console.log(msg.dataBalance[c]);
                                if (msg.dataBalance[c].KEGIATAN == "BONGKAR") {
                                    $('[id=dProgresBongkar]').html(Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100) + '%');
                                    $('[id=dRemainingBongkar]').html(100 - Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100) + '%');
                                    $('td[id=pgrsBongkar]').html('<progress class="progress progress-striped progress-sm progress-cyan" value="' + msg.dataBalance[c].JML_REAL_SD + '" max="' + msg.dataBalance[c].JML_PLAN + '"></progress>');
                                    $('td[id=pgrsBongkard]').html('<progress class="progress progress-striped progress-sm progress-cyan" value="' + msg.dataBalance[c].JML_REAL_SD + '" max="' + msg.dataBalance[c].JML_PLAN + '"></progress>');
                                    var x = msg.dataBalance[c].JML_REAL_SD;
                                    var y = msg.dataBalance[c].JML_PLAN;
                                    $('input[id=knob_bongkar]').animate({
                                        value: Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100)
                                    },{
                                        duration: 1000,
                                        easing: 'swing',
                                        progress: function () {
                                            $(this).val(Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100)).trigger('change');
                                        }
                                    });
                                    var rb = (msg.dataBalance[c].JML_PLAN !== null) ? parseFloat(msg.dataBalance[c].JML_PLAN) : 0;
                                    var rlb = (msg.dataBalance[c].JML_REAL_SD !== null) ? parseFloat(msg.dataBalance[c].JML_REAL_SD) : 0;

                                    $('span[id=d_vlrcnBongkar]').html(rb);
                                    $('span[id=d_vlrelBongkar]').html(rlb);
                                    $('span[id=d_vlsisaBongkar]').html(msg.dataBalance[c].BALANCE);
                                }
                                else {
                                    $('[id=dProgresMuat]').html(Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100) + '%');
                                    $('[id=dRemainingMuat]').html(100 - Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100) + '%');
                                    $('td[id=pgrsMuat]').html('<progress class="progress progress-striped progress-sm progress-cyan" value="' + msg.dataBalance[c].JML_REAL_SD + '" max="' + msg.dataBalance[c].JML_PLAN + '"></progress>');
                                    $('td[id=pgrsMuatd]').html('<progress class="progress progress-striped progress-sm progress-cyan" value="' + msg.dataBalance[c].JML_REAL_SD + '" max="' + msg.dataBalance[c].JML_PLAN + '"></progress>');
                                    var x = msg.dataBalance[c].JML_REAL_SD;
                                    var y = msg.dataBalance[c].JML_PLAN;
                                    $('input[id=knob_muat]').animate({
                                        value: Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100)
                                    },{
                                        duration: 1000,
                                        easing: 'swing',
                                        progress: function () {
                                            $(this).val(Math.round((msg.dataBalance[c].JML_REAL_SD / msg.dataBalance[c].JML_PLAN) * 100)).trigger('change');
                                        }
                                    });
                                    var rm = (msg.dataBalance[c].JML_PLAN !== null) ? parseFloat(msg.dataBalance[c].JML_PLAN) : 0;
                                    var rlm = (msg.dataBalance[c].JML_REAL_SD !== null) ? parseFloat(msg.dataBalance[c].JML_REAL_SD) : 0;

                                    $('span[id=d_vlrcnMuat]').html(rm);
                                    $('span[id=d_vlrelMuat]').html(rlm);
                                    $('span[id=d_vlsisaMuat]').html(msg.dataBalance[c].BALANCE);
                                }
                                $(".knob").knob({});
                            }
                            
                            //tglpgrsBongkarS
                            //if (msg.START_WORK_B !== null) {
                            //    var swb = msg.START_WORK_B.split(" ");
                            //    $('[id=tglpgrsBongkarS]').html(swb[0] + '<br>' + swb[1]);
                            //    $('[id=tglpgrsBongkarSd]').html(swb[0] + '<br>' + swb[1]);
                            //}

                            //if (msg.END_WORK_B !== null) {
                            //    var ewb = msg.END_WORK_B.split(" ");
                            //    $('[id=tglpgrsBongkarE]').html(ewb[0] + '<br>' + ewb[1]);
                            //    $('[id=tglpgrsBongkarEd]').html(ewb[0] + '<br>' + ewb[1]);
                            //}


                            //if (msg.START_WORK_M !== null) {
                            //    var swm = msg.START_WORK_M.split(" ");
                            //    $('[id=tglpgrsMuatS]').html(swm[0] + '<br>' + swm[1]);
                            //    $('[id=tglpgrsMuatSd]').html(swm[0] + '<br>' + swm[1]);
                            //}

                            //if (msg.END_WORK_M !== null) {
                            //    var ewm = msg.END_WORK_M.split(" ");
                            //    $('[id=tglpgrsMuatE]').html(ewm[0] + '<br>' + ewm[1]);
                            //    $('[id=tglpgrsMuatEd]').html(ewm[0] + '<br>' + ewm[1]);
                            //}

                            $('[id=dPanduMasuk]').text("");
                            $('[id=dPanduKeluar]').text("");
                            $('.mdNamaKapal').html(msg.dataKapal.NAMA_KAPAL);
                            $('[id=mdMkplKode]').html(msg.dataKapal.KODE_KAPAL);
                            $('[id=mdMmsi]').html("-");
                            $('[id=mdCallSign]').html("-");
                            $('[id=mdJnsKapal]').html("-");
                            $('[id=mdGrtLoa]').html(msg.dataKapal.GT_KAPAL + ' / ' + msg.dataKapal.LOA);
                            $('[id=mdNoPKK]').html(msg.dataKapal.NO_PKK);
                            $('[id=mdNoPPKB1]').html(msg.dataKapal.NO_PKK1);
                            $('[id=mdNoForm]').html(msg.dataKapal.NO_PPK1);
                            $('#lblSource').html(msg.dataBalance[0].STATUS_DATA);
                        }
                    }
                })
            }

            var detailTabs = function () {

                $('table[id=listTambat] tbody').html("");
                $('table[id=listPandutbs] tbody').html("");
                $('table[id=listLabuh] tbody').html("");
                $('table[id=listTunda] tbody').html("");
                $('table[id=listAirKapal] tbody').html("");
                $('table[id=listUBPandu] tbody').html("");
                

                $.ajax({
                    url: "getDataMoreDetailKapal",
                    method: "GET",
                    dataType: "json",
                    success: function (msg) {
                        //~ data Labuh
                        var dataLabuh = "";
                        
                        $.each(msg, function (e, v) {
                            if(v.PMH_JNS_JASA == "LABUH"){
                                dataLabuh += '<tr>' +
                                                '<td class="font-small-2 p-1">' + v.TPPKB1_NO_FORM + '</td>' +
                                                '<td class="font-small-2 p-1">' + v.DMG_AKHIR + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_MULAI !== null) ? v.RCN_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_SELESAI !== null) ? v.RCN_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_MULAI !== null) ? v.TGL_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_SELESAI !== null) ? v.TGL_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1" align="center">' + ((v.REC_STAT !== null) ? v.REC_STAT : "") + '</td>' +
                                             '</tr>';
                            }
                        });
                        $('table[id=listLabuh] tbody').html(dataLabuh);

                        //~ data TAMBAT
                        var listTambat = "";
                        

                        $.each(msg, function (e, v) {
                            if (v.PMH_JNS_JASA == "TAMBAT") {
                                listTambat += '<tr>' +
                                                '<td class="font-small-2 p-1">' + v.TPPKB1_NO_FORM + '</td>' +
                                                '<td class="font-small-2 p-1">' + v.DMG_AKHIR + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_MULAI !== null) ? v.RCN_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_SELESAI !== null) ? v.RCN_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_MULAI !== null) ? v.TGL_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_SELESAI !== null) ? v.TGL_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.KDAWAL !== null) ? v.KDAWAL : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.KDAKHIR !== null) ? v.KDAKHIR : "") + '</td>' +
                                                '<td class="font-small-2 p-1" align="center">' + ((v.REC_STAT !== null) ? v.REC_STAT : "") + '</td>' +
                                             '</tr>';

                                
                            }
                        });

                        


                        $('table[id=listTambat] tbody').html(listTambat);


                        //~ data PANDU
                        var listPandutbs = "";



                        
                        var lsnoFormpandu = [];
                        var lsdataFormpandu = [];
                        $.each(msg, function (e, v) {
                            if (v.PMH_JNS_JASA == "PANDU") {
                                lsnoFormpandu.push(v.TPPKB1_NO_FORM);
                            }
                        });

                        $.ajax({
                            url: "http://10.2.3.55/simpandu/ServicesJson/GetDataPanduByListNoForm",
                            method: "GET",
                            dataType: "json",
                            data: { fListNoForm: lsnoFormpandu },
                            async : false,
                        }).done(function (msgdt) {
                            $.each(msg, function (e, v) {
                                var pilot = "";
                                var nspk = "";
                                $.each(msgdt, function (ea, va) {
                                    if (va.SUPTP_PNTPND_FORM == v.TPPKB1_NO_FORM) {
                                        pilot = va.SUPTP_PP_NAME;
                                        nspk = va.SUSP_NO_SPK;
                                    }
                                });

                                if (v.PMH_JNS_JASA == "PANDU") {
                                    listPandutbs += '<tr>' +
                                                    '<td class="font-small-2 p-1">' + v.TPPKB1_NO_FORM + '</td>' +
                                                    '<td class="font-small-2 p-1">' + pilot + '</td>' +
                                                    '<td class="font-small-2 p-1">' + v.DMG_AWAL + '</td>' +
                                                    '<td class="font-small-2 p-1">' + v.DMG_AKHIR + '</td>' +
                                                    '<td class="font-small-2 p-1">' + ((v.RCN_MULAI !== null) ? v.RCN_MULAI : "") + '</td>' +
                                                    '<td class="font-small-2 p-1">' + ((v.TGL_MULAI !== null) ? v.TGL_MULAI : "") + '</td>' +
                                                    '<td class="font-small-2 p-1">' + ((v.TGL_SELESAI !== null) ? v.TGL_SELESAI : "") + '</td>' +
                                                    '<td class="font-small-2 p-1">' + nspk + '</td>' +
                                                    '<td class="font-small-2 p-1" align="center">' + ((v.REC_STAT !== null) ? v.REC_STAT : "") + '</td>' +
                                                 '</tr>';
                                }
                            });

                            $('table[id=listPandutbs] tbody').html(listPandutbs);

                        });

                        

                        //~ data Tunda
                        var listTunda = "";
                        $.each(msg, function (e, v) {
                            if (v.PMH_JNS_JASA == "TUNDA") {
                                listTunda += '<tr>' +
                                                '<td class="font-small-2 p-1">' + v.TPPKB1_NO_FORM + '</td>' +
                                                '<td class="font-small-2 p-1">' + v.DMG_AWAL + '</td>' +
                                                '<td class="font-small-2 p-1">' + v.DMG_AKHIR + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_MULAI !== null) ? v.RCN_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_SELESAI !== null) ? v.RCN_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_MULAI !== null) ? v.TGL_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_SELESAI !== null) ? v.TGL_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1" align="center">' + ((v.REC_STAT !== null) ? v.REC_STAT : "") + '</td>' +
                                             '</tr>';
                            }
                        });
                        $('table[id=listTunda] tbody').html(listTunda);

                        //~ data listAirKapal
                        var listAirKapal = "";
                        $.each(msg, function (e, v) {
                            if (v.PMH_JNS_JASA == "AIRKAPAL") {
                                listAirKapal += '<tr>' +
                                                '<td class="font-small-2 p-1">' + v.TPPKB1_NO_FORM + '</td>' +
                                                '<td class="font-small-2 p-1">' + v.DMG_AKHIR + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_MULAI !== null) ? v.RCN_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_SELESAI !== null) ? v.RCN_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_MULAI !== null) ? v.TGL_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.TGL_SELESAI !== null) ? v.TGL_SELESAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1" align="center">' + ((v.REC_STAT !== null) ? v.REC_STAT : "") + '</td>' +
                                             '</tr>';
                            }
                        });
                        $('table[id=listAirKapal] tbody').html(listAirKapal);

                        //~ data ubah batal pandu
                        var listUBPandu = "";
                        $.each(msg, function (e, v) {
                            if (v.PMH_JNS_JASA == "BTLUBH_PANDU") {
                                var sts = "";
                                if(v.REC_STAT == "U"){
                                    sts = "PERUBAHAN";
                                }
                                if(v.REC_STAT == "D"){
                                    sts = "PEMBATALAN";
                                }

                                listUBPandu += '<tr>' +
                                                '<td class="font-small-2 p-1">' + v.TPPKB1_NO_FORM + '</td>' +
                                                '<td class="font-small-2 p-1">' + sts + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.RCN_MULAI !== null) ? v.RCN_MULAI : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.DMG_AWAL !== null) ? v.DMG_AWAL : "") + '</td>' +
                                                '<td class="font-small-2 p-1">' + ((v.DMG_AKHIR !== null) ? v.DMG_AKHIR : "") + '</td>' +
                                                '<td class="font-small-2 p-1" align="center">' + ((v.REC_STAT !== null) ? v.REC_STAT : "") + '</td>' +
                                             '</tr>';
                            }
                        });
                        $('table[id=listUBPandu] tbody').html(listUBPandu);
                    }
                })
            }
            
            $("#loadModalMoreDetails").on("click", function () {                
                detailTabs();

                if ($(window).width() <= 960) {
                    $('div[id=DetailShown]').modal('hide');
                }

            });

            var getPanduMasuk = function (tppkb1, noform, lok) {
                $.ajax({
                    url: "http://10.2.3.55/simpandu/ServicesJson/GetDataPanduDetail",
                    method: "GET",
                    dataType: "json",
                    data: {
                        tppkb1_nomor: tppkb1,
                        tppkb1_no_form: noform,
                        lok_akhir:lok
                    },
                    success: function (msg) {
                        $('[id=dPanduMasuk]').text("");
                        if (typeof (msg.SUPTP_PP_NAME) != "undefined" && msg.SUPTP_PP_NAME !== null) {
                            
                            $('[id=dPanduMasuk]').text(msg.SUPTP_PP_NAME + " (" + msg.SUSP_NO_SPK + ")");
                        }
                    }
                }).done(function () {
                    getPanduKaluar(tppkb1, noform, lok);
                });
            }

            var getPanduKaluar = function (tppkb1, noform, lok) {
                $.ajax({
                    url: "http://10.2.3.55/simpandu/ServicesJson/GetDataPanduDetail",
                    method: "GET",
                    dataType: "json",
                    data: {
                        tppkb1_nomor: tppkb1,
                        tppkb1_no_form: noform,
                        lok_awal: lok
                    },
                    success: function (msg) {
                        $('[id=dPanduKeluar]').text("");
                        if (typeof (msg.SUPTP_PP_NAME) != "undefined" && msg.SUPTP_PP_NAME !== null) {
                            $('[id=dPanduKeluar]').text(msg.SUPTP_PP_NAME + " (" + ((msg.SUSP_NO_SPK !== null) ? msg.SUSP_NO_SPK : "")  + ")");
                        }
                    }
                });
            }

            $('input[id=knob_bongkar]').knob({});
            $('input[id=knob_muat]').knob({});

            var lastCok = "", fsTables = 0;

            var tableData = $(".server-side").DataTable({
                "bAutoWidth": false,
                "responsive": true,
                "ajax": {
                    "url": "GetPermohonanTambatHarini",
                    "type": "GET",
                    "data": function (data) {
                        data.mdmgKode = '@ViewBag.kodedmg',
                        data.kodecbg = '@ViewBag.kodecbg',
                        data.search = $('.dataTables_filter').find('input').val();
                        data.fLine = "BEING_PROGRESS";
                    }
                },
                "columns": [
                    {
                        "data": "NO_PPK1",
                        "class": "hide"
                    },
                    {
                        "data": "NAMA_KAPAL",
                    },
                    {
                        "data": "NAMA_AGEN",
                    },
                    {
                        "data": "KADE_METER",
                    },
                    {
                        "data": "PROGRESS",
                        "class": "dt-body-center",
                        "render": function (a, b, c) {
                            var rtn = '';
                            if (c.PROGRESS < 100) {
                                rtn = '<progress value="' + c.PROGRESS + '" max="100" class="progress progress-sm progress-success m-0">' + c.PROGRESS + '%</progress>';
                            }
                            else if (c.PROGRESS = 100) {
                                rtn = '<progress value="100" max="100" class="progress progress-sm progress-danger m-0">100%</progress>';
                            }
                            return rtn;
                        }
                    },
                ],
                "destroy": true,
                "ordering": false,
                "processing": true,
                "serverSide": true,

                "lengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"]
                ],

                "pageLength": 10,

                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Indonesian.json"
                },
                "filter": true,
                "initComplete": function (settings, json) {
                    var dn = 0, lsc = "";
                    $.each(json.data, function (e, v) {
                        fsTables++;
                        dn++;
                        if (dn == 1)
                            lsc = v.NO_PKK;
                        lastCok = v.NO_PKK;
                    });

                    var cookiestppkb = getCookie("CookieLastDetailVesselProgress=tppkb1Nomor");
                    if ((cookiestppkb == "") || (cookiestppkb !== lsc)) {
                        lastCok = lsc;
                    }
                    else {
                        lastCok = cookiestppkb;
                    }

                },
                "fnDrawCallback": function (oSettings) {
                    setTableQueue();
                    $('table.listDataKapal tr').click(function () {
                        setCookieD($(this).find('td:first').text());
                        if ($(window).width() <= 960) {
                            $('div[id=DetailShown]').modal('show');
                        }
                    });
                }
            });
            
            var tableDataQueue = $(".server-side-queue").DataTable({
                "bAutoWidth": false,
                "responsive": true,
                "destroy": true,
                "ordering": false, 
                "lengthMenu": [
                        [5, 10, 15, 20, -1],
                        [5, 10, 15, 20, "All"]
                ],
                "pageLength": 10,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Indonesian.json"
                },
                "filter": true,
            });

            var setTableQueue = function () {
                
                tableDataQueue.destroy();
                // Remove DOM elements
                $('.server-side-queue tbody').empty();
                tableDataQueue = $(".server-side-queue").DataTable({
                    "bAutoWidth": false,
                    "responsive": true,
                    "ajax": {
                        "url": "GetPermohonanAntrianTambatHarini",
                        "type": "GET",
                        "data": function (data) {
                            data.mdmgKode = '@ViewBag.kodedmg',
                            data.kodecbg = '@ViewBag.kodecbg',
                            data.search = $('.dataTables_filter').find('input').val();
                            data.fLine = "QUEUE";
                        }
                    },
                    "columns": [
                        {
                            "data": "NO_PPK1",
                            "class": "hide"
                        },
                        {
                            "data": "NAMA_KAPAL",
                        },
                        {
                            "data": "NAMA_AGEN",
                        },
                        {
                            "data": "KADE_METER",
                        },
                        {
                            "data": "PROGRESS",
                            "class": "dt-body-center",
                            "render": function (a, b, c) {
                                var rtn = '';
                                if (c.PROGRESS < 100) {
                                    rtn = '<progress value="' + c.PROGRESS + '" max="100" class="progress progress-sm progress-success m-0">' + c.PROGRESS + '%</progress>';
                                }
                                else if (c.PROGRESS = 100) {
                                    rtn = '<progress value="100" max="100" class="progress progress-sm progress-danger m-0">100%</progress>';
                                }
                                return rtn;
                            }
                        },
                    ],
                    "destroy": true,
                    "ordering": false,
                    "processing": true,
                    "serverSide": true,

                    "lengthMenu": [
                        [5, 10, 15, 20, -1],
                        [5, 10, 15, 20, "All"]
                    ],

                    "pageLength": 10,

                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Indonesian.json"
                    },
                    "filter": true,
                    "initComplete": function (settings, json) {
                        var dn = 0, lscs = "";
                        
                        if (fsTables <= 0) {
                            $.each(json.data, function (e, v) {
                                dn++;
                                if (dn == 1)
                                    lastCok = v.NO_PKK;
                            });
                            var cookiestppkbs = getCookie("CookieLastDetailVesselProgress=tppkb1Nomor");
                            if ((cookiestppkbs == "") || (cookiestppkbs !== lscs)) {
                                lastCok = lscs;
                            }
                            else {
                                lastCok = cookiestppkbs;
                            }
                        }
                        setCookieD(lastCok);
                    },
                    "fnDrawCallback": function (oSettings) {
                        $('table.listDataKapalQueue tr').click(function () {
                            setCookieD($(this).find('td:first').text());
                            if ($(window).width() <= 960) {
                                $('div[id=DetailShown]').modal('show');
                            }
                        });
                    }
                });

            }
            //setInterval(function () {
            //    tableData.ajax.reload();
            //    tableDataQueue.ajax.reload();
            //}, (3000000));

            $('a.reloadVesselProgress').click(function (e) {
                e.preventDefault();
                tableData.ajax.reload();
            });
            $('a.reloadVesselQueue').click(function (e) {
                e.preventDefault();
                tableDataQueue.ajax.reload();
            });


            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

        });
    </script>
}