﻿@{
    ViewBag.Title = "Avalibilitas Pandu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Server-side processing -->
<section id="server-processing">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" style="text-transform: capitalize;">Status Pandu (Pilot @ViewBag.mvType)</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a class="reloadVesselProgress" data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <table class="listDataKapal table table-striped table-bordered server-side">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>Status</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!--/ Javascript sourced data -->
@section VendorStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/buttons.bootstrap4.min.css">
}

@section CustomStyle {
    <style type="text/css">
        table.listDataKapal td {
            cursor: pointer;
        }

        table.listDataKapalQueue td {
            cursor: pointer;
        }

        .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
            color: #2196F3 !important;
        }

        @@media (min-width:992px) {
            .fixeds.col-xl-4.col-lg-4 {
                position: fixed !important;
                right: 0 !important;
            }
        }

        @@media (max-width:991px) {
            .fixeds.col-xl-4.col-lg-4 {
                display: none !important;
            }
        }
    </style>
}

@section Plugins {
    <script src="~/robust-assets/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/components/extensions/knob.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/buttons.colVis.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script type="text/javascript">
    $(document).ready(function () {
        var tableDataQueue = $('.server-side').DataTable({
            "bAutoWidth": false,
            "responsive": true,
            "ajax": {
                "url": "@Url.Action("AvalibilitasPandu", "Home")",
                "type": "GET",
                "data": function (data) {
                    data.movementType = '@ViewBag.mvType',
                    data.location = '@ViewBag.lcCode',
                    data.locName = '@ViewBag.lcName'
                }
            },
            "columns": [
                {
                    "data": "NAMA_PETUGAS",
                    "render": function (a, b, d) {
                        return "<div style='float:left'><img src='../assets/global/img/pilot.png' width='40px' height='40px' /></div> " + 
                            "<div style='float:left; margin-left:10px; margin-top:10px; font-weight:bold'>" + d.NAMA_PETUGAS + " (" + d.KD_PANDU + ")</div>";
                    }
                },
                {
                    "data": "DARI",
                    "render": function (a, b, d) {
                        return "<span><b>ASAL</b> &nbsp;&nbsp;&nbsp;&nbsp;: " + d.DARI + "</span><br/><span><b>TUJUAN</b>: " + d.KE + "</span>";
                    }
                },
                {
                    "data": "KE",
                    "render": function (a, b, d) {
                        return "<span><b>KAPAL</b>&nbsp;: " + d.KAPAL + "</span><br/><span style='font-size:11px'>PPK: " + d.NO_PPK + "</span>";
                    }
                }
            ],
            "destroy": true,
            "ordering": false,
            "processing": true,
            "serverSide": true,

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"]
            ],

            "pageLength": 10,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Indonesian.json"
            },
            "filter": true
        });

    });
    </script>
}