﻿@{
    ViewBag.Title = "Jadwal Tambatan kapal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Server-side processing -->
<section id="server-processing">
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="text-transform: capitalize;">Vessel Progress</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a class="reloadVesselProgress" data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard">
                            <table class="listDataKapal table table-striped table-bordered server-side">
                                <thead>
                                    <tr>
                                        <th>Kapal</th>
                                        <th>Agen</th>
                                        <th>Kade Meter</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="text-transform: capitalize;">Vessel Queue</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a class="reloadVesselProgress" data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard">
                            <table class="listDataKapal table table-striped table-bordered server-side">
                                <thead>
                                <tr>
                                    <th>Kapal</th>
                                    <th>Agen</th>
                                    <th>Kade Meter</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="text-transform: capitalize;">Vessel Information</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a class="reloadVesselProgress" data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard" style="text-align:center">
                            <span style="font-size:11px">PKK.DN00000111.1700.1100 - PPK: 170700070</span>
                            <h6><span>HIJAU TERANG. MV</span></h6>
                            <span style="font-size:11px">GRT: 7000 / LOA: 170</span><br />
                            <span style="font-size:12px; color:cornflowerblue">SALAM PACIFIC INDONESIA LINES, PT</span>
                            <hr />
                            <div class="row">
                                <div class="col-md-6" style="text-align:left">
                                    <span style="font-size:10px">Mulai Tambat</span><br />
                                    <span style="font-size:11px">10/10/2017 12:00</span>
                                </div>
                                <div class="col-md-6" style="text-align:right">
                                    <span style="font-size:10px">Rencana Selesai Tambat</span><br />
                                    <span style="font-size:11px">10/10/2017 12:00</span>
                                </div>
                                <div class="col-md-12">
                                    <progress class='progress progress-danger progress-lg progress-1' value='70' max='100'></progress>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>BONGKAR</h6>
                                    <progress class='progress progress-info progress-lg progress-1' value='50' max='100'></progress>
                                    <div class="row" style="margin-top:-25px">
                                        <div class="col-md-6" style="text-align:left">
                                            <span style="font-size:14px; font-weight:bold; text-align:center; color:blue">50 %</span><br />
                                            <span style="font-size:11px">Progress</span>
                                        </div>
                                        <div class="col-md-6" style="text-align: right">
                                            <span style="font-size: 14px; font-weight: bold; text-align: center; color: red">50 %</span><br />
                                            <span style ="font-size:11px">Remaining</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6>MUAT</h6>
                                    <progress class='progress progress-info progress-lg progress-1' value='50' max='100'></progress>
                                    <div class="row" style="margin-top:-25px">
                                        <div class="col-md-6" style="text-align:left">
                                            <span style="font-size:14px; font-weight:bold; text-align:center; color:blue">50 %</span><br />
                                            <span style="font-size:11px">Progress</span>
                                        </div>
                                        <div class="col-md-6" style="text-align: right">
                                            <span style="font-size: 14px; font-weight: bold; text-align: center; color: red">50 %</span><br />
                                            <span style="font-size:11px">Remaining</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row" style="margin-top:10px">
                                <div class="col-md-6">
                                    <div class="card card-outline-warning">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h6 class="card-subtitle">Operation Plan</h6>
                                                <table style="text-align:left; font-size:11px; width:100%; margin-top:10px">
                                                    <tr>
                                                        <td>
                                                            <span>Target TSD</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Target TGH</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Jumlah Truk</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Target Shift</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-outline-info">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <h6 class="card-subtitle">Realisasi</h6>
                                                <table style="text-align:left; font-size:11px; width:100%; margin-top:10px">
                                                    <tr>
                                                        <td>
                                                            <span>Target TSD</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Target TGH</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Jumlah Truk</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>Target Shift</span>
                                                        </td>
                                                        <td>
                                                            <span>:</span>
                                                        </td>
                                                        <td>
                                                            <span>100</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!--/ Javascript sourced data -->
@section VendorStyle {
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/tables/datatable/buttons.bootstrap4.min.css">
}

@section CustomStyle {
    <style type="text/css">
        table.listDataKapal td {
            cursor: pointer;
        }

        table.listDataKapalQueue td {
            cursor: pointer;
        }

        .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
            color: #2196F3 !important;
        }

        @@media (min-width:992px) {
            .fixeds.col-xl-4.col-lg-4 {
                position: fixed !important;
                right: 0 !important;
            }
        }

        @@media (max-width:991px) {
            .fixeds.col-xl-4.col-lg-4 {
                display: none !important;
            }
        }
    </style>
}

@section Plugins {
    <script src="~/robust-assets/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/components/extensions/knob.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/datatable/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/robust-assets/js/plugins/tables/buttons.colVis.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script type="text/javascript">
    $(document).ready(function () {
        var tableDataQueue = $('.server-side').DataTable({
            "bAutoWidth": false,
            "responsive": true,
            "ajax": {
                "url": "@Url.Action("getDataGerakanKapal", "Home")",
                "type": "GET",
                "data": function (data) {
                    data.MovType = '@ViewBag.mvType',
                    data.locCode = '@ViewBag.lcCode',
                    data.search = $('.dataTables_filter').find('input').val();
                    data.fLine = "QUEUE";
                }
            },
            "columns": [
                {
                    "data": "NO_PKK",
                    "render": function (a, b, f) {
                        return f.NO_PKK + '<br>' + '<span style="font-size:10px"> No. PPKB1 : <b>' + f.NO_REF1 + '</b></span><br><span style="font-size:10px"> No. FORM : <b>' + f.NO_JASA + '</b></span>';
                    }
                },
                {
                    "data": "KAPAL",
                    "width": "25%",
                    "render": function (a, b, d) {
                        return d.KAPAL + '<br>' + '<b style="font-size:10px"><span> GRT / LOA : ' + d.GRT + ' / ' + d.LOA + '</span></b>';
                    }
                },
                { "data": "TPPKB1_JENIS_KAPAL" },
                { "data": "DARI", "width": "15%" },
                { "data": "KE", "width": "15%" },
                {
                    "data": "TGL",
                    "class": "dt-body-center",
                    "render": function (a, b, c) {
                        return c.TGL + ' ' + c.JAM;
                    }
                },
                {
                    "data": "TGL",
                    "class": "dt-body-center",
                    "render": function (a, b, c) {
                        return c.TGL + ' ' + c.JAM;
                    }
                },
                { "data": "DARI", "width": "15%" }
            ],
            "destroy": true,
            "ordering": false,
            "processing": true,
            "serverSide": true,

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"]
            ],

            "pageLength": 10,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Indonesian.json"
            },
            "filter": true
        });

    });
    </script>
}