﻿@using System.Security
@using System.Security.Claims
@using MonitoringTanjungPerak.DAL
@using MonitoringTanjungPerak.Helpers


<!DOCTYPE html>
<html lang="en" data-textdirection="LTR" class="loading">

<!-- Mirrored from demo.pixinvent.com/robust-admin/ltr/vertical-overlay-menu-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Feb 2017 17:05:24 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@ViewBag.Title | Monitoring Kapal PT PELINDO III (Persero) Cabang Tanjung Perak</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/robust-assets/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/robust-assets/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/robust-assets/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/robust-assets/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/robust-assets/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/robust-assets/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" href="~/robust-assets/css/vendors.min.css" />
    <!-- BEGIN VENDOR CSS-->
    <!-- BEGIN Font icons-->
    <link rel="stylesheet" type="text/css" href="~/robust-assets/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="~/robust-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <!-- END Font icons-->
    <!-- BEGIN Plugins CSS-->
    <link rel="stylesheet" type="text/css" href="~/robust-assets/css/plugins/sliders/slick/slick.css">
    <!-- END Plugins CSS-->

    <!-- BEGIN Vendor CSS-->    
    @if (IsSectionDefined("VendorStyle"))
    {
        @RenderSection("VendorStyle")
    }
    <!-- END Vendor CSS-->

    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" href="~/robust-assets/css/app.min.css" />
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    @if (IsSectionDefined("CustomStyle"))
    {
        @RenderSection("CustomStyle")
    }
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!-- END Custom CSS-->
</head>
<body data-open="click" data-menu="vertical-overlay-menu" data-col="2-columns" class="vertical-layout vertical-overlay-menu 2-columns  fixed-navbar">
    <!-- START PRELOADER-->

    <div id="preloader-wrapper">
        <div id="loader" class="ball-scale loader-white">
            <div></div>
        </div>
        <div class="loader-section section-top bg-primary"></div>
        <div class="loader-section section-bottom bg-primary"></div>
    </div>

    <!-- END PRELOADER-->
    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-dark navbar-brand-center navbar-border">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <!--<li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>-->
                    <li class="nav-item"><a href="@Url.Action("", "Home")" class="navbar-brand nav-link">
                        <img alt="branding logo" src="~/assets/genericlrg.png" 
                             data-expand="~/assets/genericlrg.png" 
                             data-collapse="~/assets/genericlrg.png" 
                             class="brand-logo" width="150px">
                        </a></li>
                    <!--<li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>-->
                </ul>
            </div>
            <div class="navbar-container content container-fluid" style="position:static;">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        <!--<li class="dropdown dropdown-user nav-item">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online"><img src="~/robust-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span><span class="user-name">John Doe</span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-head"></i> Edit Profile</a>
                                <div class="dropdown-divider"></div><a href="@Url.Action("Logout", "Auth")" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- main menu-->
    <div class="main-menu menu-dark">
        <!-- main menu content-->
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item">
                    <a href="/Home"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="/Home/JadwalTambatanKapal" data-i18n="nav.dash.crm" class="menu-item"><i class="icon-ship"></i>Jadwal Kedatangan</a>
                </li>
                <li class="nav-item">
                    <a href="/Home/JadwalKeberangkatanKapal" data-i18n="nav.dash.crm" class="menu-item"><i class="icon-log-out"></i>Jadwal Keberangkatan</a>
                </li>
                @*<li class=" nav-item">
                    <a href="#"><i class="icon-ship"></i><span data-i18n="nav.dash.main" class="menu-title">Gerakan Kapal</span></a>
                    <ul class="menu-content">
                        <li>
                            <a href="/Home/JadwalTambatanKapal" data-i18n="nav.dash.crm" class="menu-item">Jadwal Kapal</a>
                        </li>
                        <li>
                            <a href="#" data-i18n="nav.dash.project" class="menu-item">Keterlambatan Kapal</a>
                        </li>
                    </ul>
                </li>*@
            </ul>
        </div>
    </div>
    <!-- / main menu-->

    <div class="robust-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer class="footer footer-transparent">
        <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; @DateTime.Now.Year © PT Pelabuhan Indonesia III (Persero) Cabang Tanjung Perak Surabaya. </span></p>
    </footer>

    <!-- BEGIN VENDOR JS-->
    <script src="~/robust-assets/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    @if (IsSectionDefined("Plugins"))
    {
        @RenderSection("Plugins")
    }
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="~/robust-assets/js/app.min.js"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    @if (IsSectionDefined("CustomScripts"))
    {
        @RenderSection("CustomScripts")
    }
    <!-- END PAGE LEVEL JS-->
</body>
<!-- Mirrored from demo.pixinvent.com/robust-admin/ltr/vertical-overlay-menu-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Feb 2017 17:18:14 GMT -->
</html>